[www-php{{PHP_VERSION_NO_DOT}}-sock-other]
user = www-data
group = www-data
listen = /run/php/php{{PHP_VERSION}}-fpm-visitor-other.sock;
listen.owner = www-data
listen.group = www-data
listen.mode = 0660
process.dumpable = no
pm = dynamic
pm.max_children = 10
pm.start_servers = 1
pm.min_spare_servers = 1
pm.max_spare_servers = 8
pm.max_spawn_rate = 3
pm.max_requests = 500
request_terminate_timeout = 120
rlimit_files = 65535
rlimit_core = 0
decorate_workers_output = no
clear_env = yes
security.limit_extensions = .php
catch_workers_output = no
ping.path = /ping
pm.status_path = /status

;; valores para POSTs
php_admin_value[memory_limit] = 256M
php_admin_value[post_max_size] = 50M

php_admin_value[open_basedir] = "/var/www/:/usr/share/php/:/var/run/nginx-cache/:/dev/urandom:/dev/shm:/var/lib/php/sessions/"
